<html>
{% extends 'music/main.html' %}
<body>
{% block body %}
    {% if all_albums %}
    <h3> <b>Here are all my albums</b></h3>
    <ul>
        {% for i in all_albums %}
        <li><a href="{% url 'music:detail' i.id %}"> {{ i.album_title }}</a>
        </li>
        <!-- Deleting albums-->
         <form action="{% url 'music:album-delete' i.id %}" method="post" style="display: block;">
             {% csrf_token %}
             <input type="hidden" name="song_id" value="{{ song.id }}" />
             <button type="submit" class="btn btn-danger btn-xs">
                 <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
             </button>
         </form>
         <form action="{% url 'music:album-update' i.id %}" method="post" style="display: block;">
             {% csrf_token %}
             <input type="hidden" name="song_id" value="{{ song.id }}" />
             <button type="submit" class="btn btn-success btn-xs">
                 <span class="glyphicon glyphicon-pencil"></span>
             </button>
         </form>

        {% endfor %}
    </ul>
    {% else %}
    <h3> You don't have any albums</h3>
     {% endif %}
{% endblock %}
</body>
</html>
